#app-final-viewer-component {
  font-family: sans-serif;
  width: 100%;
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
#app-final-viewer-component img{
  width:100%;
  height:auto;
}
#app-final-viewer-component .open-launcher{
  background:#CED7DF;
  padding: 10px 0;
  text-align:center;
  cursor:pointer;
}
