<div>
  <app-final-viewer-component (changeEditorState)="handleChangeEditorState($event)"></app-final-viewer-component>
  <app-editor-component (changeEditorState)="handleChangeEditorState($event)" *ngIf="showAppEditon"></app-editor-component>
</div>
