#app-editor-component {
  font-family: sans-serif;
  position: fixed;
  z-index: 100;
  background: white;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#app-editor-component * {
  position: relative;
  z-index: 101;
}
#app-editor-component .container-bloc {
  display: flex;
  align-items: stretch;
  height: 100%;
}
#app-editor-component .container-bloc .left {
  background: lightgrey;
  width: 60px;
}
#app-editor-component .container-bloc .right {
  flex-grow: 1;
  flex-direction: column;
  align-items: stretch;
  display: flex;
}
#app-editor-component .container-bloc .right nav {
  background: darkgrey;
  height: 50px;
}
#app-editor-component .container-bloc .right nav .terminer {
  float: right;
  padding: 0 20px;
  line-height: 50px;
  background: black;
  color: white;
  cursor: pointer;
}
#app-editor-component .container-bloc .right section {
  flex-grow: 1;
  background: slategrey;
  display: flex;
  align-items: center;
  justify-content: center;
}
#app-editor-component .container-bloc .right section canvas {
  max-width: 80%;
  max-height: 80%;
}
