<div id=app-editor-component>
  <div class='container-bloc'>
    <div class='left'>
      <nav>
      nav1
      </nav>
    </div>
    <div class='right'>
      <nav>
        <div class='terminer' (click)="closeEditor()">TERMINER</div>
        secondMenu.background +
      </nav>
      <section id='canvas-container'>
        <canvas id='canvas-element'></canvas>
      </section>
    </div>
  </div>
</div>
